@import '~highcharts/css/stocktools/gui';
/**
* Reset
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}